<p>Hola, <%= @user.first_name %>!</p>

<p>Alguien (con suerte, usted) ha solicitado para restablecer su contraseña.</p>

<p>Para elegir una nueva contraseña, siga este enlace: <%= link_to @url, @url %>.</p>
