<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class=""></li>
							<li data-target="#slider-carousel" data-slide-to="1" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="2" class=""></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item">
								<div class="col-sm-6">
									<h1><span>SIN</span> STOCK</h1>
									<h2>Siempre Listo, Siempre conectado y Siempre rapido</h2>
									<p>El Portal de trueque de Productos Lider en Colombia</p>
									<button type="button" class="btn btn-default get">Ver Mas</button>
								</div>
								<div class="col-sm-6">
									<img class="girl img-responsive" src="/assets/Slide/girl1-5827d6d60427f9b1fbd5388c581eec659ef1fde085fb24e089e7e582b078feb4.jpg" alt="Girl1 5827d6d60427f9b1fbd5388c581eec659ef1fde085fb24e089e7e582b078feb4">
									<img src="images/home/pricing.png" class="pricing" alt="">
								</div>
							</div>
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>SIN</span> STOCK</h1>
									<h2>¿De que se trata?</h2>
									<p>Sistema muy sencillo de trueque, sin dinero de por medio. Porque a través de su potente buscador puedes encontrar rápidamente el articulo que buscas.</p>
									<button type="button" class="btn btn-default get">Ver Mas</button>
								</div>
								<div class="col-sm-6">
									<img class="girl img-responsive" src="/assets/Slide/girl2-b33703f38d5088b1b3ac0619003dd1859ec34fa3725233dc6da330d6da2ad292.jpg" alt="Girl2 b33703f38d5088b1b3ac0619003dd1859ec34fa3725233dc6da330d6da2ad292">
									<img src="images/home/pricing.png" class="pricing" alt="">
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>SIN</span> STOCK</h1>
									<h2>Sencillez y facilidad</h2>
									<p>Porque gracias a su sencillo manejo cualquier persona sin ningún conocimiento previo puede usarlo ya que su utilización es muy intuitiva. Basta con registrarse y seguir un sencillo formulario.</p>
									<button type="button" class="btn btn-default get">Ver Mas</button>
								</div>
								<div class="col-sm-6">
									<img class="girl img-responsive" src="/assets/Slide/girl3-4395d6a7310c1666fd29e30be74e610387bd1975994aa1165cd9dee4aa1cc7d7.jpg" alt="Girl3 4395d6a7310c1666fd29e30be74e610387bd1975994aa1165cd9dee4aa1cc7d7">
									<img src="images/home/pricing.png" class="pricing" alt="">
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section>